In [1]:
import pandas as pd
dataset = pd.read_csv("Churn_Modelling.csv")

In [2]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
y = dataset['Exited']

In [4]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
X = dataset[['CreditScore','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]

In [6]:
geo = pd.get_dummies(dataset['Geography'], drop_first=True)

In [7]:
geo

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [8]:
gen = pd.get_dummies(dataset['Gender'], drop_first=True)

In [9]:
X = pd.concat([X,geo,gen],axis=1)

In [10]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [11]:
X.shape

(10000, 11)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [14]:
X_train.shape

(8000, 11)

In [15]:
X_test.shape

(2000, 11)

In [16]:
from keras.models import Sequential

In [17]:
model = Sequential()

In [18]:
from keras.layers import Dense

In [19]:
model.add(Dense(input_shape=(11,),units=8,activation='relu'))

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
=================================================================
Total params: 96
Trainable params: 96
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.add(Dense(input_shape=(11,),units=6,activation='relu'))

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 54
=================================================================
Total params: 150
Trainable params: 150
Non-trainable params: 0
_________________________________________________________________

In [23]:
model.add(Dense(input_shape=(11,),units=6,activation='relu'))

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
=================================================================
Total params: 192
Trainable params: 192
Non-trainable params: 0
_________________________________________________________________

In [25]:
model.add(Dense(input_shape=(11,),units=1,activation='sigmoid'))

In [26]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 199
Trainable params: 199
Non-trainable params: 0
_________________________________________________________________

In [27]:
from keras.optimizers import Adam

In [47]:
model.compile(loss='binary_crossentropy',optimizer=Adam(learning_rate=0.00001),metrics=['accuracy'])

In [48]:
model.fit(X_train,y_train,epochs=10)

Epoch 1/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5135 - accuracy: 0.7806
Epoch 2/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5173 - accuracy: 0.7785
Epoch 3/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5163 - accuracy: 0.7805
Epoch 4/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5203 - accuracy: 0.7786
Epoch 5/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5119 - accuracy: 0.7828
Epoch 6/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5157 - accuracy: 0.7800
Epoch 7/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5123 - accuracy: 0.7814
Epoch 8/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5219 - accuracy: 0.7784
Epoch 9/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5183 - accuracy: 0.7807
Epoch 10/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5106 - accuracy: 0.7831

In [49]:
model.history.history

{'loss': [0.5135279297828674,
  0.5173417925834656,
  0.5162879824638367,
  0.5203436017036438,
  0.5118517875671387,
  0.5156688690185547,
  0.5122978091239929,
  0.5218558311462402,
  0.5182900428771973,
  0.5106366872787476],
 'accuracy': [0.7806249856948853,
  0.7785000205039978,
  0.7804999947547913,
  0.7786250114440918,
  0.7827500104904175,
  0.7799999713897705,
  0.781374990940094,
  0.7783750295639038,
  0.7807499766349792,
  0.7831249833106995]}

In [50]:
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_1',
    'trainable': True,
    'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_2',
    'trainable': True,
    'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_3',
    'trainable': True,
    'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'units': 1,
    'activation': 'sigmoid',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [51]:
model.get_weights()

[array([[ 0.4296382 ,  0.17904764, -0.23977198, -0.2455461 , -0.34251514,
         -0.6708155 , -0.09235454,  0.12416787],
        [-0.12558506,  0.50584704, -0.31394148,  0.00579414, -0.45127445,
          0.5088162 , -0.05343371,  0.44812986],
        [ 0.547656  , -0.538205  ,  0.11272174, -0.17483063, -0.12521392,
          0.00994854,  0.5542999 , -0.04117236],
        [-0.6418226 ,  0.0753044 ,  0.3557149 ,  0.14561448, -0.22201222,
          0.27572584, -0.01975947, -0.10787315],
        [ 0.47298458, -0.25603154,  0.4476897 ,  0.23637782,  0.08581585,
         -0.12048225, -0.16337395, -0.21718012],
        [ 0.66800183, -0.2646153 ,  0.1755314 ,  0.02188976,  0.28200203,
         -0.02697894,  0.17233866, -0.11766035],
        [ 0.8868336 , -0.5360814 ,  0.37088612,  0.01934899, -0.5115747 ,
         -1.3724966 ,  1.3061278 , -0.2733346 ],
        [-0.0166141 ,  0.36847645,  0.2066486 ,  0.05322887, -0.21999943,
          0.13466991,  0.42449582,  0.27697185],
        [-0.6019317 ,  0.41883397, -0.43122062, -0.43541777, -0.5133767 ,
          0.29151043, -1.0225255 ,  0.49484557],
        [-0.30400586, -0.19401622,  0.14908728, -0.07410901,  0.23153818,
         -0.0543413 , -0.12344851, -0.34774432],
        [ 0.2896576 , -0.34879538,  0.95680875, -0.03909193,  0.4324783 ,
         -0.36932907,  0.7294829 , -0.9310585 ]], dtype=float32),
 array([ 0.18338287, -0.29284516,  0.07831219,  0.08982265,  0.        ,
        -0.26177204,  0.11751488, -0.09264245], dtype=float32),
 array([[ 0.3745024 ,  0.4497141 ,  0.41933063, -0.03769588,  0.39157483,
          0.5330388 ],
        [ 0.05070485, -0.36804816,  0.1824348 , -0.29521313,  0.15709995,
         -0.05613063],
        [ 0.02969988, -0.07471353, -0.40018266, -0.305886  ,  0.13929714,
          0.30466247],
        [-0.35299844,  0.540424  ,  0.32102305,  0.4414945 , -0.62797934,
         -0.7047116 ],
        [ 0.1335848 ,  0.00296772,  0.22824156, -0.13892514, -0.58231455,
          0.6277789 ],
        [ 0.64308715,  0.13788328, -0.6201883 ,  0.17139795, -0.16600259,
          0.27649292],
        [-0.3699485 , -0.14509983,  0.21151663,  0.29941338, -0.13308018,
          0.5051218 ],
        [ 0.41663608, -0.66932374, -0.5425202 , -0.25078896, -0.21805894,
         -0.67311203]], dtype=float32),
 array([-0.15756792,  0.20396891,  0.08517347, -0.02133138,  0.39643684,
         0.11956494], dtype=float32),
 array([[-0.02694687, -0.46829277, -0.10433241, -0.34620112,  0.39422527,
         -0.41316384],
        [-0.7271524 ,  0.1267398 ,  0.10887247, -0.7024177 , -0.4634603 ,
          0.6182033 ],
        [ 0.18482585, -0.4835956 ,  0.40749103, -0.3604498 ,  0.5517208 ,
         -0.5579023 ],
        [-0.3462913 , -0.5014981 ,  0.5953041 ,  0.39974397, -0.00640446,
          0.40829545],
        [-0.566958  , -0.10372758,  0.72201884,  0.4004901 ,  0.17923382,
         -0.80834085],
        [ 0.56075805, -0.40461227,  0.5423038 , -0.57082665,  0.33084452,
          0.32559583]], dtype=float32),
 array([-0.31792447,  0.        ,  0.18475659,  0.        , -0.19337256,
        -0.13051723], dtype=float32),
 array([[ 0.05644002],
        [-0.6368432 ],
        [-0.34993914],
        [-0.40504986],
        [ 0.20599344],
        [ 0.21413042]], dtype=float32),
 array([-0.18982865], dtype=float32)]

In [52]:
X.head(2)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0

In [53]:
test = X.head(1)

In [54]:
test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.0,1,1,1,101348.88,0,0,0

In [57]:
output = model.predict([[608,41,1,83807.86,1,0,1,112542.58,0,1,0]])

In [58]:
print(round(output[0][0]))

0

In [59]:
output

array([[0.22147667]], dtype=float32)