In [1]:
import pandas as pd
dataset = pd.read_csv("weight-height.csv")

In [2]:
dataset

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
y = dataset['Weight']

In [4]:
X = dataset['Height']

In [5]:
from keras.models import Sequential

In [6]:
model = Sequential()

In [7]:
from keras.layers import Dense

In [8]:
model.add(Dense(input_shape=(1,), units=1, kernel_initializer="zeros", bias_initializer="zero", activation='linear'))

In [9]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [10]:
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 1),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 1),
    'dtype': 'float32',
    'units': 1,
    'activation': 'linear',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [11]:
model.get_weights()

[array([[0.]], dtype=float32), array([0.], dtype=float32)]

In [12]:
from keras.optimizers import Adam

In [13]:
model.compile(loss='mean_squared_error',optimizer=Adam())

In [14]:
model.fit(X,y)

313/313 [==============================] - 0s 1ms/step - loss: 23868.1211

In [15]:
model.get_weights()

[array([[0.30426106]], dtype=float32), array([0.30425802], dtype=float32)]

In [16]:
model.predict([100])

array([[30.730364]], dtype=float32)

In [17]:
model.save("my-perceptron.h5")